/* Réinitialisation des styles */
loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: 9999;
}
#loading-screen .loading-text {
    color: #fff;
    font-size: 24px;
}

#loading-screen.active {
    opacity: 1;
}
#loading-screen.hide {
    opacity: 0;
}
#loading-screen .loading-text {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}


@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#loading-screen.fade-out {
    opacity: 0;
    transition: opacity 0.6s ease-out;
}


#loading-content {
    color: #fff;
    font-size: 24px;
    text-align: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour le header */

header {
    background-color: #161616;
    opacity: 0.5;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;

}



.barre_de_nav h1 {
    font-size: 3vh;
}

.navbar1 .navbar {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

li a {
    text-decoration: none;
    color: white;
}

.sticky-nav {

    /* Autres styles de votre choix */
}

.navbar1 .navbar li {
    margin-left: 20px;
}

/* Styles pour la section "premiere_page" */

.premiere_page {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color:#333 ;

}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.presentation {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    color: white;
    text-align: center;

}

.presentation h1 {
    font-size: 6rem;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.presentation p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}



.presentation button {
    background-color: #333;
    color: #eeeeee;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    border-radius: 25px;
}

/* Styles pour la section "profil" */
.profil {
    background-color: #f5f5f7;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    position: relative;
    /* Définit le contexte de positionnement pour les éléments enfants */
    overflow: hidden;
    padding: 0;
}

.profil-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -100px;
}

.info img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 130px;
}

.info p {
    flex: 1;
    font-size: 18px;
    line-height: 1.5;
    color: #666666;
    margin-bottom: 30px;
    padding: 40px;
}

.profil h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: -100px;
    color: #333333;
}

.profil a {
    display: inline-block;
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    flex-direction: column;
}

.profil a:hover {
    background-color: #666666;
}


/* Styles pour la section "projets" */
.projets {
    position: relative;
    height: 100vh;
    overflow: hidden;

}

.projets::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/ai-generated-7981422.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    animation: animation-image 10s infinite linear;
}

@keyframes animation-image {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



.projets h1 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.touteslesboites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.compartiment {

    height: 100vh;
    padding: 40px;
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30Px;
}

.compartiment img {
    height: 300px;
    width: 550px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 2%;

}

/* Exemple de styles supplémentaires pour les compartiments */
.compartiment h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.compartiment p {
    font-size: 16px;
    line-height: 1.5;
}



.background-video_un {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* Utilisez 100vh pour couvrir toute la hauteur de la fenêtre visible */
    z-index: -1;
}

#videoo {
    width: 100%;
    height: 100%;
    /* Utilisez 100% pour couvrir toute la hauteur du conteneur parent */
    object-fit: cover;
}




@media only screen and (min-device-width : 320px) and (max-device-width : 442px) {
    #background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    header {
        background-color: #161616;
        opacity: 0.5;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        z-index: 1000;

    }



    .barre_de_nav h1 {
        font-size: 3vh;
    }

    .navbar1 .navbar {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        color: white;
    }

    li a {
        text-decoration: none;
        color: white;
    }

 

    .navbar1 .navbar li {
        margin-left: 6px;
        font-size: 12px;
    }

    .presentation {
        margin-top: 30px;
    }

    .presentation h1 {
        font-size: 22px;
        margin-bottom: 20px;
        color: white;
        text-align: center;
    }

    .presentation p {
        font-size: 14px;
        margin-bottom: 20px;
        color: white;
        text-align: center;
        margin-top: -10px;
    }

    .presentation button {
        background-color: #333;

        color: #eeeeee;
        font-size: 15px;
        padding: 20px;
        width: 200px;

        border-radius: 25px;
    }





    /*profil*/


    .profil {
        background-color: #f5f5f7;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto;
        position: relative;
        /* Définit le contexte de positionnement pour les éléments enfants */
        overflow: hidden;
        padding: 0;
    }

    .profil-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .info {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: -100px;
        flex-direction: column;
    }

    .info img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 30px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-top: 160px;
        margin-left: 0px;
    }

    .info p {
        flex: 1;
        font-size: 10px;
        line-height: 1.5;
        color: #666666;
        margin-bottom: 30px;
        padding: 40px;
        flex-direction: column;
    }

    .profil a {
        display: inline-block;
        background-color: #333333;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        padding: 15px 30px;
        border-radius: 30px;
        transition: background-color 0.3s ease;
        flex-direction: column;

    }

    .boutondownload a {
        margin-top: -20px;
    }

    .profil a:hover {
        background-color: #666666;
    }




    .projets {
        position: relative;
        height: 100vh;
        overflow: hidden;
        margin-top: 15px;

    }

    .projets::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/assets/ai-generated-7981422.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        animation: animation-image 10s infinite linear;
    }

    @keyframes animation-image {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }



    .projets h1 {
        font-size: 10px;
        font-weight: bold;
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }

    .touteslesboites {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

    .compartiment {
        height: 100vh;
        padding: 40px;
        width: 90%;
        height: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        flex-direction: column;
    }

    .compartiment img {
        height: 200px;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        border-radius: 2%;
    }


}





.contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 60px;
}

label {
    display: block;
    font-weight: bold;
}

textarea, input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 1px solid lightgray;
    outline: none;
}

textarea:hover, textarea:focus {
    border: 1px solid rgb(60, 110, 203);
}

input[type="text"], input[type="email"]{
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="text"]:focus, input[type="email"]:focus{
    border-bottom: 1px solid rgb(60, 110, 203);
    outline: none;
}
#message {
    height: 180Px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #666;
}



.zoom-effect {
    transform: scale(1.2);
    /* Augmente l'échelle du compartiment */
    transition: transform 0.3s ease;
    /* Ajoute une transition fluide */






    #background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    header {
        background-color: #161616;
        opacity: 0.5;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        z-index: 1000;

    }



    .barre_de_nav h1 {
        font-size: 3vh;
    }

    .navbar1 .navbar {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        color: white;
    }

    li a {
        text-decoration: none;
        color: white;
    }

    .sticky-nav {

        /* Autres styles de votre choix */
    }

    .navbar1 .navbar li {
        margin-left: 6px;
        font-size: 12px;
    }

    .presentation {
        margin-top: 30px;
    }

    .presentation h1 {
        font-size: 22px;
        margin-bottom: 20px;
        color: #333;
        text-align: center;
    }

    .presentation p {
        font-size: 14px;
        margin-bottom: 20px;
        color: #333;
        text-align: center;
        margin-top: -10px;
    }

    .presentation button {
        background-color: #333;

        color: #eeeeee;
        font-size: 15px;
        padding: 20px;
        width: 200px;

        border-radius: 25px;
    }





    /*profil*/


    .profil {
        background-color: #f5f5f7;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto;
        position: relative;
        /* Définit le contexte de positionnement pour les éléments enfants */
        overflow: hidden;
        padding: 0;
    }

    .profil-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .info {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: -100px;
        flex-direction: column;
    }

    .info img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 30px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-top: 160px;
        margin-left: 0px;
    }

    .info p {
        flex: 1;
        font-size: 10px;
        line-height: 1.5;
        color: #666666;
        margin-bottom: 30px;
        padding: 40px;
        flex-direction: column;
    }

    .profil a {
        display: inline-block;
        background-color: #333333;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        padding: 15px 30px;
        border-radius: 30px;
        transition: background-color 0.3s ease;
        flex-direction: column;

    }

    .boutondownload a {
        margin-top: -20px;
    }

    .profil a:hover {
        background-color: #666666;
    }




    .projets {
        position: relative;
        height: 100vh;
        overflow: hidden;
        margin-top: 15px;

    }

    .projets::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/assets/ai-generated-7981422.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        animation: animation-image 10s infinite linear;
    }

    @keyframes animation-image {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }



    .projets h1 {
        font-size: 36px;
        font-weight: bold;
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }

    .touteslesboites {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

    .compartiment {
        height: 100vh;
        padding: 40px;
        width: 90%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        flex-direction: column;
    }

    .compartiment img {
        height: 200px;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        border-radius: 2%;
    }

    #background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    header {
        background-color: #161616;
        opacity: 0.5;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        z-index: 1000;

    }



    .barre_de_nav h1 {
        font-size: 3vh;
    }

    .navbar1 .navbar {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        color: white;
    }

    li a {
        text-decoration: none;
        color: white;
    }

    .sticky-nav {

        /* Autres styles de votre choix */
    }

    .navbar1 .navbar li {
        margin-left: 6px;
        font-size: 12px;
    }

    .presentation {
        margin-top: 30px;
    }

    .presentation h1 {
        font-size: 22px;
        margin-bottom: 20px;
        color: #333;
        text-align: center;
    }

    .presentation p {
        font-size: 14px;
        margin-bottom: 20px;
        color: #333;
        text-align: center;
        margin-top: -10px;
    }

    .presentation button {
        background-color: #333;

        color: #eeeeee;
        font-size: 15px;
        padding: 20px;
        width: 200px;

        border-radius: 25px;
    }





    /*profil*/


    .profil {
        background-color: #f5f5f7;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto;
        position: relative;
        /* Définit le contexte de positionnement pour les éléments enfants */
        overflow: hidden;
        padding: 0;
    }

    .profil-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .info {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: -100px;
        flex-direction: column;
    }

    .info img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 30px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-top: 160px;
        margin-left: 0px;
    }

    .info p {
        flex: 1;
        font-size: 10px;
        line-height: 1.5;
        color: #666666;
        margin-bottom: 30px;
        padding: 40px;
        flex-direction: column;
    }

    .profil a {
        display: inline-block;
        background-color: #333333;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        padding: 15px 30px;
        border-radius: 30px;
        transition: background-color 0.3s ease;
        flex-direction: column;

    }

    .boutondownload a {
        margin-top: -20px;
    }

    .profil a:hover {
        background-color: #666666;
    }




    .projets {
        position: relative;
        height: 100vh;
        overflow: hidden;
        margin-top: 15px;

    }

    .projets::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/assets/ai-generated-7981422.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        animation: animation-image 10s infinite linear;
    }

    @keyframes animation-image {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }



    .projets h1 {
        font-size: 36px;
        font-weight: bold;
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }

    .touteslesboites {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

    .compartiment {
        height: 100vh;
        padding: 40px;
        width: 90%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        flex-direction: column;
    }

    .compartiment img {
        height: 200px;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        border-radius: 2%;
    }

    .contact {
        max-width: 600px;
        margin: 0 auto;
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100px;

    }

}






















@media only screen and (min-device-width : 390px) and (max-device-width : 844px) {
    /* Styles pour cette Media Queries */



    #background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    header {
        background-color: #161616;
        opacity: 0.5;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        z-index: 1000;

    }



    .barre_de_nav h1 {
        font-size: 3vh;
    }

    .navbar1 .navbar {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        color: white;
    }

    li a {
        text-decoration: none;
        color: white;
    }

    .sticky-nav {

        /* Autres styles de votre choix */
    }

    .navbar1 .navbar li {
        margin-left: 6px;
        font-size: 12px;
    }

    .presentation {
        margin-top: 30px;
    }

    .presentation h1 {
        font-size: 22px;
        margin-bottom: 20px;
        color: #333;
        text-align: center;
    }

    .presentation p {
        font-size: 14px;
        margin-bottom: 20px;
        color: #333;
        text-align: center;
        margin-top: -10px;
    }

    .presentation button {
        background-color: #333;

        color: #eeeeee;
        font-size: 15px;
        padding: 20px;
        width: 200px;

        border-radius: 25px;
    }





    /*profil*/


    .profil {
        background-color: #f5f5f7;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto;
        position: relative;
        /* Définit le contexte de positionnement pour les éléments enfants */
        overflow: hidden;
        padding: 0;
    }

    .profil-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .info {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: -100px;
        flex-direction: column;
    }

    .info img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 30px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-top: 160px;
        margin-left: 0px;
    }

    .info p {
        flex: 1;
        font-size: 10px;
        line-height: 1.5;
        color: #666666;
        margin-bottom: 30px;
        padding: 40px;
        flex-direction: column;
    }

    .profil a {
        display: inline-block;
        background-color: #333333;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        padding: 15px 30px;
        border-radius: 30px;
        transition: background-color 0.3s ease;
        flex-direction: column;

    }

    .boutondownload a {
        margin-top: -20px;
    }

    .profil a:hover {
        background-color: #666666;
    }




    .projets {
        position: relative;
        height: 100vh;
        overflow: hidden;
        margin-top: 15px;

    }

    .projets::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/assets/ai-generated-7981422.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        animation: animation-image 10s infinite linear;
    }

    @keyframes animation-image {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }



    .projets h1 {
        font-size: 36px;
        font-weight: bold;
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }

    .touteslesboites {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

    .compartiment {
        height: 100vh;
        padding: 40px;
        width: 90%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        flex-direction: column;
    }

    .compartiment img {
        height: 200px;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        border-radius: 2%;
    }

}











@media only screen and (min-device-width : 442px) and (max-device-width : 768px) {





.projets{
    position: relative;
    height: auto;
    overflow: hidden;

}

.touteslesboites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

    .compartiment {
        
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 0;
        flex-direction: column;
        
    }

    .compartiment img {
        height: 200px;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        border-radius: 2%;
    }












}